{
  "env": {
    "development": {
      "presets": ["@babel/preset-env", {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7"]
        }
      }],
      "plugins": [
        "add-module-exports"
      ]
    },
    "production": {
      "presets": ["env", "minify"],
      "plugins": [
        "add-module-exports"
      ]
    }
  }
}
